.add-node-form {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}

.add-node-input {
  padding: 0.5em;
  border-radius: 4px;
  border: none;
}

.add-node-button {
  background-color: #32c56a;
  display: block;
  padding: 0.5em 0.75em;
  margin: 0;
  border: none;
  border-radius: 4px;
}
