.app-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2em;
}

.app-footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
  z-index: 1000;
  font-style: italic;
  color: #6e6e6e;
  user-select: none;

  .app-footer-key {
    color: #c0c0c0;
  }
}

/* Override React Flow's default  styles*/

/* Highlighted nodes - thick orange border */
.react-flow__node.highlight {
  border: 1px solid var(--highlight-color) !important;
  border-radius: 4px;
  box-shadow: 0 0 10px var(--highlight-color);
}

/* Highlighted edges - orange color */
.react-flow__edge.highlight .react-flow__edge-path {
  stroke: var(--highlight-color) !important;
  stroke-width: 1px !important;
}
.react-flow__edge.highlight .react-flow__edge-text {
  fill: var(--highlight-color) !important;
  font-weight: bold;
}

.react-flow__handle {
  border-radius: 0;
}

/* Override React Flow's selected node styles */
/* :not(.highlight) prevents double-borders when selecting a searched node */
.react-flow__node-skillNodeComponent.selected:not(.highlight) {
  border: 1px solid #ffffff;
  border-radius: 4px;

  /* Turn off our internal styling for the selected node */
  .skill-node {
    border: none;
  }
}
